footer {
  position: static;
  bottom: 0;
  width: 100%;
  background-color: #343a40; // cor de fundo escura do Bootstrap
  color: white;
  text-align: center;
  padding: 0.5rem;
  margin-top: auto;
}
